.browsePageContent {
  flex: 6;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.browseDiv {
  margin: 10px auto;
  width: 20%;
}

.browseInnerContent {
  background-color: rgba(15, 45, 0, 0.3);
  border-radius: 10px;
  width: fit-content;
  padding: 8px;
  margin: auto;
}

.browseInnerContentSelected {
  background-color: rgba(15, 45, 0, 0.3);
  border: 3px solid black;
  border-radius: 10px;
  width: fit-content;
  padding: 5px;
  margin: auto;
}

.browseLineBreak {
  width: 100%;
  text-align: center;
}

.objectContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px 0px;
}