#confirmWorldEditsButton, #confirmStoryEditsButton, #confirmLocationEditsButton {
  margin: 0px 20px;
}

#deleteWorldButton, #deleteStoryButton, #deleteLocationButton {
  margin: 0px 20px;
}

.editFormName {
  width: 70%;
  background-color: rgba(255,255,255,.1);
}

.editFormDescription {
  width: 80%;
  background-color: rgba(255,255,255,.1);
}

.editFormUrl {
  width: 70%;
  background-color: rgba(255,255,255,.1);
}

.editFormNotes {
  width: 80%;
  background-color: rgba(255,255,255,.1);
}

.editFormWide {
  width: 80%;
  background-color: rgba(255,255,255,.1);
  margin: 10px 0px !important;
}

.editFormStandard {
  width: 70%;
  background-color: rgba(255,255,255,.1);
  margin: 10px 0px !important;
}

.editFormGenre {
  background-color: rgba(255,255,255,.1);
  width: fit-content;
  margin: auto;
}