body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('/images/6d4ebd84.png');
}

.advancedSearchLink {
    text-decoration: none;
    padding: 20px 10px;
}

.advancedSearchLink:hover {
    color: #eee;
    text-decoration: underline;
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #00acb0;
    padding: 5px;
    color: #ece7e7;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.header {
    position: relative;
    margin: 0px;
    /* background-color: #8F3A1B; */
    background-image: url('/images/13c07ab9.png');
}

.headTitle {
    margin: 30px auto;
    width: fit-content;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
    /* position: relative; */
    display: flex;
    align-content: flex-end;
    height: 100%;
  width: 100%;
}

.navbar div {
  margin: 0 auto;
  align-self: flex-end;
  width: fit-content;
}

.loginStatus {
  text-align: center;
  margin: auto;
  width: fit-content;
}

ul {
    width: fit-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

.welcomeDiv {
    text-align: center;
    margin-top: 50px;
}

.welcomeMessage {
    max-width: 60%;
    margin: auto;
}

.headerGrid {
    padding: 0px 12px !important;
}

.createNewLink {
    padding-left: 10px;
}

.mainView {
    display: flex;
}

.pageContent {
    flex: 6;
}

.sidebarDiv {
    flex: 1;
    border: solid black 3px;
}

.sidebarList {
    text-align: center;
    margin: auto;
}

.sidebarList li {
    float: none;
}

.sidebarList li a {
    padding: 3px 0px;
}

.logoutLink:hover {
    cursor: pointer;
    color: #eee;
    text-decoration: underline;
}