.viewPageContent {
  flex: 6;
  text-align: center;
}

.formContainer {
  width: 70%;
  margin: 50px auto;
}

.linkedElements {
  padding: 0px 0px 0px 20px;
}

.connectionList {
  margin: 10px auto;
  background-color: rgba(0, 255, 0, 0.1);
  padding: 5px;
}

.dateWatermark {
  text-align: left;
  margin: 0px;
  /* position: absolute;
  left: 0;
  bottom: 0; */
  color: #555;
}