.createSidebarDiv {
  border-right: black solid 3px;
  text-align: center;
  height: 100%;
  flex: 2;
}

.createPageSidebarContent {
  margin-top: 20px;
}

.createSidebarOptions{
  margin-top: 50px;
}

.createPageContent {
  flex: 4;
  text-align: center;
}

.createNewLink {
  display: block;
  margin: 10px 0px;
}

.createNewLink:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #eee;
}

.createFormWide{
  width: 80%;
  background-color: rgba(255,255,255,.1);
  margin: 10px 0px !important;
}

.createFormStandard{
  width: 70%;
  background-color: rgba(255,255,255,.1);
  margin: 10px 0px !important;
}

.createFormSmall {
  width: 20%;
  margin: 10px !important;
  background-color: rgba(255,255,255,.1);
}

.createFormSelect {
  width: 80%;
  margin: 20px auto;
}

.createFormButton {
  margin-bottom: 30px !important;
}

.createFormGenre {
  background-color: rgba(255,255,255,.1);
  width: fit-content;
  margin: auto;
}

.createFormHome {
  background-color: rgba(255,255,255,.1);
  width: fit-content;
  margin: auto;
}